<div class="weather-icon__container" [ngSwitch]="condition">
    <i *ngSwitchCase="'rain'" class="fas fa-cloud-showers-heavy" [ngClass]="{'fa-10x': size === 'grand', 'fa-5x': size === 'petit'}"></i>
    <i *ngSwitchCase="'sun'" class="fas fa-sun" [ngClass]="{'fa-10x': size === 'grand', 'fa-5x': size === 'petit'}"></i>
    <i *ngSwitchCase="'clouds'" class="fas fa-cloud" [ngClass]="{'fa-10x': size === 'grand', 'fa-5x': size === 'petit'}"></i>
    <i *ngSwitchCase="'storm'" class="fas fa-poo-storm" [ngClass]="{'fa-10x': size === 'grand', 'fa-5x': size === 'petit'}"></i>
    <i *ngSwitchCase="'snow'" class="fas fa-snowflake" [ngClass]="{'fa-10x': size === 'grand', 'fa-5x': size === 'petit'}"></i>
</div>